<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpRuntime targetFramework="4.5"/>
    <compilation debug="true"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebService1Soap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49174/WebService1.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebService1Soap" contract="ConvertorService.WebService1Soap"
        name="WebService1Soap" />
    </client>
  </system.serviceModel>
</configuration>